# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# OS X stuff
*.DS_Store
./data/test_original.csv
./data/raw.csv
data/
evaluate/
submissions/
preprocessing.ipynb
.ipynb_checkpoints/
